{% extends "base.html" %}
<h1>expenses list</h1>


<ul class="list-group">
    <li class="list-group-item">Brought beer</li>
    <li class="list-group-item">Brought beer</li>
    <li class="list-group-item">Brought beer</li>
    <li class="list-group-item">Brought beer</li>
    <li class="list-group-item">Brought beer</li>
    <li class="list-group-item">Brought beer</li>
    <li class="list-group-item">Brought beer</li>
    <li class="list-group-item">Brought beer</li>
    <li class="list-group-item">Brought beer</li>
    <li class="list-group-item">Brought beer</li>
    <li class="list-group-item">Brought beer</li>





</ul>